.root {

    .about-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid #000;
        gap: 8px;
        padding: 16px;
        border-radius: 6px;

        .title {
            font-size: 16px;
            font-weight: bold;
            color: #000;
        }

        .desc {
            font-size: 12px;
            color: #333;
        }
    }

    .nut-tabbar {
        background-color: #3E4357;
        border-top: 1px solid #000;

        .nut-tabbar-item-icon-box {
            color: #fff;
        }

        .nut-tabbar-item-active {
            .nut-tabbar-item-icon-box {
                color: #BF7FA8;
            }
        }
    }
}