.root {

  &.select-open {
    overflow: hidden;
  }

  &.index {
    @media (min-width: 768px) {
      // 大屏幕时改为row布局
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .nut-collapse-item-header {
    background-color: #7F3D5E;
    border-bottom: 1px solid #000;
    padding: 8px 16px;

    .nut-collapse-item-title {
      font-size: 12px;
      color: #fff;
      font-weight: bold;
    }
  }

  .nut-collapse {
    border: #000 solid 1px;
    width: 100%;

    .nut-collapse-item-content-text {
      padding: 8px;
    }

    .tips {
      font-size: 11px;
    }

    .avatar-container {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-top: 8px;
    }

    .nut-badge {

      .nut-image {
        border-radius: 4px;

        &:active {
          background-color: #BF7FA8 !important;
        }

        img {
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
      }
    }

    .avatar-add {
      background-color: #7F3D5E;
      padding: 8px;
      box-sizing: border-box;
      border-radius: 4px;
      margin-left: 8px;
    }
  }

  .result,
  .selection {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .reset {
    margin-top: 16px;
    background-color: #7F3D5E;
    color: #fff;
    border-color: #000;
    border-radius: 4px;
  }

  .power-heat-container {
    text-align: center;

    .value {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .resource-grid {
    width: 100%;

    .resource-name {
      font-size: 12px;
    }

    img {
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

  }

  .value {
    font-size: 10px;

    &.consume {
      color: #FF0F23
    }

    &.produce {
      color: #64b578;
    }
  }
}

.nut-button {
  &:active {
    background-color: #BF7FA8;
    color: #fff;
  }
}

.nut-popup {
  min-height: unset;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .nut-divider {
    margin: 0;
  }

  .nut-cell {
    padding: 8px 16px;

    .item-name {
      margin-left: 8px;
      font-size: 14px;
      font-weight: bold;
    }

    .item-power,
    .item-heat {
      font-size: 10px;
    }
  }

  .select-detail {

    .nut-inputnumber {
      gap: 4px;

      .nut-number-input {
        width: 24px;
      }

      .nut-input-minus,
      .nut-input-add {
        width: 24px;
        height: 24px;

        .nut-icon {
          width: 100%;
          height: 100%;
        }
      }
    }

    .item-unit {
      margin-left: 8px;
      font-weight: bold;
    }

    .mode {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .mode-error {
        padding: 8px 12px;
        border-radius: 4px;
        font-size: 12px;
        display: inline-block;
        align-self: stretch;

        &.warn {
          background-color: #fff8e6;
          color: #ff9800;
          border: 1px solid #ffe082;
        }

        &.error {
          background-color: #ffebee;
          color: #f44336;
        }
      }

      .mode-name {
        margin-right: 8px;
        font-weight: bold;
        font-size: 10px;
      }

      .mode-item {
        display: flex;
        align-items: center;
        height: 32px;
        width: 100%;

        .option-name {
          font-size: 10px;
          width: 54px;
        }

        .slider {
          flex: 1;
        }
      }
    }

    .nut-grid {
      margin: 0;
    }

    .nut-grid-item-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      row-gap: 4px;
    }
  }

  .nut-grid {
    margin: 8px;

    .nut-grid-item {

      .nut-grid-item-content {
        padding: 8px 0;

        .nut-grid-item-text {
          font-size: 10px;
        }

        &:active {
          .nut-grid-item-content-center {
            background-color: #BF7FA8;

            .nut-grid-item-text {
              color: #fff;
            }
          }
        }
      }
    }
  }

  img {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}