.nutui-react-demo {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: url('./bg.png') center/cover no-repeat;
  row-gap: 16px;
  padding: 16px;
  box-sizing: border-box;

  .nut-collapse-item-header {
    background-color: #7F3D5E;
    border-bottom: 1px solid #000;
    padding: 8px 16px;

    .nut-collapse-item-title {
      color: #fff;
      font-weight: bold;
    }
  }

  .nut-tabbar {
    background-color: #3E4357;
    border-top: 1px solid #000;

    .nut-tabbar-item-icon-box {
      color: #fff;
    }

    .nut-tabbar-item-active {
      .nut-tabbar-item-icon-box {
        color: #BF7FA8;
      }
    }
  }

  .nut-collapse {
    border: #000 solid 1px;
    width: 100%;

    .nut-badge {
      &:last-child {
        margin-right: 8px;
      }

      .nut-avatar {
        &:active {
          background-color: #BF7FA8 !important;
        }

        .avatar-img {
          width: 80%;
          height: 80%;
        }
      }
    }

    .avatar-add {
      .avatar-img {
        width: 60%;
        height: 60%;
      }
    }
  }

  .value {
    font-size: 10px;

    &.consume {
      color: #FF0F23
    }

    &.produce {
      color: #64b578;
    }
  }
}

.nut-button {
  &:active {
    background-color: #BF7FA8;
    color: #fff;
  }
}

.nut-popup {
  .nut-divider {
    margin: 0;
  }

  .select-content {

    .nut-cell {

      padding: 8px 16px;

      .item-name {
        margin-left: 8px;
      }
    }

    .select-detail {

      .mode-name {
        margin-right: 8px;
      }


      .nut-radiogroup {
        .nut-radio {
          margin-bottom: 0;
          margin-right: 8px;
        }
      }

      .nut-grid {
        margin: 0;
      }

      .nut-grid-item-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 4px;
      }

      .nut-radio-button {
        background-color: rgb(233, 213, 225);

        &.nut-radio-button-active {
          background-color: #7F3D5E;
          color: #fff;
          border: #221019 solid 1px;
        }
      }

      .add {
        width: 100%;
        background: #7F3D5E;
      }


    }

    .nut-grid {
      margin: 8px;

      .nut-grid-item {
        &:active {
          .nut-grid-item-content-center {
            background-color: #BF7FA8;

            .nut-grid-item-text {
              color: #fff;
            }
          }
        }
      }
    }
  }
}