.root {

  @media (min-width: 768px) {
    // 大屏幕时改为row布局
    flex-direction: row;
    align-items: flex-start;
  }

  .nut-collapse-item-header {
    background-color: #7F3D5E;
    border-bottom: 1px solid #000;
    padding: 8px 16px;

    .nut-collapse-item-title {
      font-size: 12px;
      color: #fff;
      font-weight: bold;
    }
  }

  .nut-collapse {
    border: #000 solid 1px;
    width: 100%;

    .nut-collapse-item-content-text {
      padding: 8px;
    }

    .tips {
      font-size: 11px;
    }

    .avatar-container {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-top: 8px;
    }

    .nut-badge {
      &:last-child {
        margin-right: 8px;
      }

      .nut-avatar {

        &:active {
          background-color: #BF7FA8 !important;
        }

        .avatar-img {
          width: 80% !important;
          height: 80% !important;
        }
      }
    }

    .avatar-add {
      .avatar-img {
        width: 60% !important;
        height: 60% !important;
      }
    }
  }

  .power-heat-container {
    text-align: center;

    .value {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .resource-name {
    font-size: 12px;
  }

  .value {
    font-size: 10px;

    &.consume {
      color: #FF0F23
    }

    &.produce {
      color: #64b578;
    }
  }
}

.nut-button {
  &:active {
    background-color: #BF7FA8;
    color: #fff;
  }
}

.nut-popup {
  .nut-divider {
    margin: 0;
  }

  .select-content {

    .nut-cell {

      padding: 8px 16px;

      .item-name {
        margin-left: 8px;
        font-size: 14px;
        font-weight: bold;
      }

      .item-power,
      .item-heat {
        font-size: 10px;
      }
    }

    .select-detail {
      padding-top: 16px;

      .nut-input-minus,
      .nut-input-add {
        width: 20px;

        .nut-icon {
          width: 100%;
          height: 100%;
        }
      }

      .item-unit {
        margin-left: 8px;
        font-weight: bold;
      }

      .mode {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .mode-error {
          padding: 8px 12px;
          border-radius: 4px;
          font-size: 12px;
          display: inline-block;
          align-self: stretch;

          &.warn {
            background-color: #fff8e6;
            color: #ff9800;
            border: 1px solid #ffe082;
          }

          &.error {
            background-color: #ffebee;
            color: #f44336;
          }
        }

        .mode-name {
          margin-right: 8px;
          font-weight: bold;
          font-size: 10px;
        }

        .mode-item {
          display: flex;
          align-items: center;
          height: 32px;
          width: 100%;

          .option-name {
            font-size: 10px;
            width: 54px;
          }

          .slider {
            flex: 1;
          }
        }
      }

      .nut-grid {
        margin: 0;
      }

      .nut-grid-item-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 4px;
      }
    }

    .nut-grid {
      margin: 8px;

      .nut-grid-item {
        &:active {
          .nut-grid-item-content-center {
            background-color: #BF7FA8;

            .nut-grid-item-text {
              color: #fff;
            }
          }
        }
      }
    }
  }
}