.resource-grid {
  width: 100%;

  .nut-grid-item-content {
    row-gap: 2px;
    padding: 2px;
  }

  img {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &__name {
    font-size: 12px;
  }

  &__value {
    font-size: 14px;
    font-weight: bold;


  }

  &__unit {
    font-size: 10px;
  }

  .consume {
    color: #ff0f23;
  }

  .produce {
    color: #64b578;
  }

  &__empty {
    padding: 8px 0;
    color: #999;
    text-align: center;
  }
}