.select-popup {
    --nutui-grid-border-color: #000;
    min-height: unset;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .nut-popup-title-right {
        padding: 4px;

        &:active {
            background-color: #BF7FA8;
        }
    }

    .nut-grid {

        .nut-grid-item {
            border: 1PX solid #ddd;
            &:active {
                .nut-grid-item-content-center {
                    background-color: #BF7FA8;

                    .nut-grid-item-text {
                        color: #fff;
                    }
                }
            }

            .nut-grid-item-content {
                padding: 8px 0;
                row-gap: 2PX;
            }
        }

    }

}