.page.wiki {
  background-color: transparent;

  .body {
    flex: 1;
    overflow-y: auto;
    line-height: normal;

    .section {
      --nutui-divider-margin: 4px 0;
      display: flex;

      &.layout{
        &-col{
          flex-direction: column;
        }

        &-grid{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap:4PX;
        }
      }
    }

    .large-link {
      cursor: pointer;
      &:active {
        background-color: var(--nutui-color-primary);
      }
    }

    .loading {
      --nutui-loading-icon-size: 48PX
    }
  }


}