name: Deploy with Crane

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: "22"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: build
        run: pnpm run build:h5

      - name: Tar files in out directory
        run: cd dist/h5 && tar -czf ../oni.tar.gz * && cd ../../

      - name: Extract version from package.json
        id: extract_version
        run: |
          version=$(jq -r '.version' package.json)
          echo "Version: $version"
          echo "::set-output name=version::$version"

      - name: Create GitHub Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          name: Release v${{ steps.extract_version.outputs.version }}
          tag_name: v${{ steps.extract_version.outputs.version }}
          files: oni.tar.gz

      - name: Call Crane to Deploy
        run: |
          curl -H "X-Api-Key: ${{secrets.CRANE_API_KEY}}" "https://wycode.cn/crane/deploy?url=https://gh.llkk.cc/${{ fromJSON(steps.create_release.outputs.assets)[0].browser_download_url }}"
